html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Merriweather Sans", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}

.header .header__title {
  font-size: 36px;
  text-align: center;
}

.header .header__timer {
  font-family: "Orbitron", sans-serif;
  font-size: 36px;
  display: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .settings {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 56px;
}

.wrapper .settings .area-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.wrapper .settings .area-size__title {
  margin-right: 20px;
}

.wrapper .settings .area-size #areaSize {
  width: 225px;
  border: none;
}

.wrapper .settings .difficulty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.wrapper .settings .difficulty__title {
  margin-right: 20px;
}

.wrapper .settings .difficulty #difficultySelect {
  width: 225px;
  border: none;
}

.wrapper .game {
  display: none;
  border: 0.5px solid #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .game__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .game__row .game__cell {
  display: block;
  position: relative;
  background: #c5c4c4;
  border: 1px solid #000;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  color: transparent;
}

.wrapper .game__row .flag {
  background: #c5c4c4 url(../img/flag-solid.svg);
}

.wrapper .game__row .opened {
  background: #f5f1f1;
}

.wrapper .game__row .bombed {
  background: red url(../img/bomb-solid.svg);
}

.container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
}

.container .game-over {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .game-over__title {
  font-size: 100px;
  font-style: bold;
  text-align: center;
  padding: 20px;
}

.container .game-over button {
  border: none;
  background: transparent;
  font-size: 50px;
  font-style: bold;
  padding: 20px;
}

.container .victory {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .victory__title {
  font-size: 100px;
  font-style: bold;
  text-align: center;
  padding: 20px;
}

.container .victory .victory__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  font-style: bold;
  padding: 20px;
}

.container .victory .victory__input label, .container .victory .victory__input input, .container .victory .victory__input button {
  padding: 10px;
}

.container .rating {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .rating__list {
  font-size: 36px;
}

.container .rating__list li {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.container .rating__list li div {
  width: 33%;
}

.container .rating__list li div span {
  color: red;
  font-size: 42px;
}

.container #fireworks-canvas {
  height: 100%;
  width: 100%;
  display: none;
}
