html {
  box-sizing: border-box;
  cursor: default;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Merriweather Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  .header__title {
    font-size: 36px;
    text-align: center;
  }
  .header__timer {
    font-family: "Orbitron", sans-serif;
    font-size: 36px;
    display: none;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .settings {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 56px;
    .area-size {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      &__title {
        margin-right: 20px;
      }
      #areaSize {
        width: 225px;
        border: none;
      }
    }
    .difficulty {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      &__title {
        margin-right: 20px;
      }
      #difficultySelect {
        width: 225px;
        border: none;
      }
    }
  }
  .game {
    display: none;
    border: 0.5px solid #000;
    flex-direction: column;
    &__row {
      display: flex;
      .game__cell {
        display: block;
        position: relative;
        background: rgb(197, 196, 196);
        border: 1px solid #000;
        // font-size: 1em;
        text-align: center;
        font-family: "Orbitron", sans-serif;
        color: transparent;
      }
      .flag {
        background: rgb(197, 196, 196) url(../img/flag-solid.svg);
      }
      .opened {
        background: rgb(245, 241, 241);
      }
      .bombed {
        background: rgb(255, 0, 0) url(../img/bomb-solid.svg);
      }
    }
  }
}

.container {
  display: grid;
  place-items: center;
  position: absolute;
  .game-over {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__title {
      font-size: 100px;
      font-style: bold;
      text-align: center;
      padding: 20px;
    }
    button {
      border: none;
      background: transparent;
      font-size: 50px;
      font-style: bold;
      padding: 20px;
    }
  }
  .victory {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__title {
      font-size: 100px;
      font-style: bold;
      text-align: center;
      padding: 20px;
    }
    .victory__input {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 50px;
      font-style: bold;
      padding: 20px;
      label, input, button {
        padding: 10px;
      }
    }
  }
  .rating {
    position: relative;
    display: none;
    flex-direction: column;
    &__list {
      font-size: 36px;
      li {
        width: 1200px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        font-family: "Roboto", sans-serif;
        div {
          width: 33%;
          span {
            color: red;
            font-size: 42px;
          }
        }
      }
    }
  }
  #fireworks-canvas {
    height: 100%;
    width: 100%;
    display: none;
  }
}
